.sign-in {
    width: 45rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin-top: 3rem;
    border-radius: .5rem;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);

    .title {
        margin: 1rem auto;
    }

    .sub-title {
        margin: 0 auto;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
    }
}