.controller-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 60vw;
    background-color: rgba(#0c6edd, .8);
    margin: 1.5rem auto;
    border-radius: 2rem;

    .data-entry-form {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
    }

    .form-inputs {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }

    .item-name-label,
    .item-description-label {
        font-size: 2rem;
        line-height: 1.6;
        color: white;
    }

    .item-name,
    .item-description {
        height: 2.3rem;
        border-radius: 1rem;
        border: none;
        margin: 0 2rem;
        padding-left: 1rem;
    }

    .submit-button {
        margin-top: .6rem;
        position: relative;
        border: none;
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 2.2rem;
        background-color: white;
        transition: background-color .25s;

        &:hover {
            background-color: #0ec5d6;
        }
        .submit-icon {
            right: 1px;
            bottom: 1px;
            position: absolute;
            cursor: pointer;
            fill: #0ec5d6;
            transition: fill .25s;

            &:hover {
                fill: white;
            }
        }
        
    }
}